SECRET_KEY=change-this-secret-key
DEBUG=False
ALLOWED_HOSTS=.railway.app,.up.railway.app,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://YOUR-NETLIFY-SITE.netlify.app,http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=https://YOUR-NETLIFY-SITE.netlify.app,http://localhost:5173,http://127.0.0.1:5173
ALLOW_NETLIFY_ORIGINS=True
DB_SSL_REQUIRE=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# Railway Postgres qo‘shilganda avtomatik DATABASE_URL beradi.
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
